/*common shared style*/
body {
    font-family: 'Open Sans', sans-serif;

}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    border: 0px;
    font-size: 15px;
    padding: 10px 35px;


}

/* nav related style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.web-logo {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

/* Primary Text Color*/

.text-primary {

    color: #FD6E0A;
}

nav>ul {

    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/*header related style*/
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-contact {
    background-color: white;
    color: #FD6E0A;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
}


.profile-picture {
    width: 584px;
    height: 600px;
}

.gretting {

    font-size: 45px;
    font-style: normal;
    font-weight: 600;
}

.banner-title {
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
}

/*mai section style*/

/* about section styles*/

.about {

    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px;
    margin: 130px 0px;



}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700px;

}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-style: normal;

}

main {

    max-width: 1140px;
    margin: 130px Auto;
}

.about-info-container {

    display: flex;
    justify-content: space-around;
}